<!-- social link items (only <li> elements) -->
<li><a href="https://github.com/MichelleTobback" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
<li><a href="https://www.linkedin.com/in/michelle-tobback-30628b304/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
<li><a href="https://hedera-the-vvitch.itch.io/" class="icon brands fa-itch-io"><span class="label">ItchIO</span></a></li>
<li><a href="https://sketchfab.com/michelletobback" class="icon fa-solid fa-cube"><span class="label">Sketchfab</span></a></li>
